
*__pycache__
*.pyc
*~
README.sublime-workspace
/test_*
config.txt
*py.sw*
*.swp
docs/build
tests/*
scripts/
tests/
notebooks/
version.py
Perso/
waldoScripts/
testData/*
*.dcm


OpenTPS_venv/*
opentps_gui/ws_dev/*
wei_dev_test.bat

opentps_core/opentps/core/Processing/DoseCalculation/MCsquare/BDL/UMCG_P1_v2_RangeShifter.txt
opentps_core/opentps/core/examples/JupyterNotebooks/Data/Plan_WaterPhantom_cropped_resampled.tps
opentps_core/opentps/core/examples/planOptimization/Plan_WaterPhantom_cropped_resampled.tps
testData/lightDynSeqWithMod.p
testData/veryLightDynMod.p
testData/lightTest4DCT.p
opentps_core/opentps/core/examples/JupyterNotebooks/Data/SimpleRealDoseComputationOptimization_plan.tps
opentps_core/opentps/core/examples/JupyterNotebooks/Data/Plan_WaterPhantom_cropped_resampled.tps
*.tps
*.blm
*.dcm
*.csv
*.tif
*.pkl
*.p
*.svg
*.log
*.pdf
*.png
